<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ASM</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <nav>
        <a asp-area="" asp-controller="Home" asp-action="Index" style="width: 60%">ASM</a>
        <form>
            <input class="search_bar" placeholder="Search Something" style="width: 200px; padding-right: 20px; padding-left: 20px" />
        </form>
    </nav>
    <nav class="nav2">
        <div class="nav-link" id="navlink">
            <ul>
                <li><a asp-area="" asp-controller="Home" asp-action="Index">HOME</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="About">ABOUT</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="Privacy">BOOKS</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="Contact">CONTACT</a></li>
                <li><a asp-area="" asp-controller="Book" asp-action="Index">LOGIN</a></li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - ASM - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
