@page "/admin/roles"
@model ASM.Areas.Admin.Pages.Role.IndexModel

@if (!User.Identity.IsAuthenticated || !User.IsInRole("Administrator"))
{
    <h1>Bạn không có quyền hoặc hãy đăng nhập trước khi truy cập trang này.</h1>
    <a asp-area="" asp-controller="Home" asp-action="Index">Back to home page</a>
}
else
{
    ViewData["Title"] = "Roles list";
    <h2>@ViewData["Title"]</h2>
    <partial name="_StatusMessage" model="@Model.StatusMessage" />
    <a class="btn btn-secondary" asp-page="../User/Index">User</a>
    <a class="btn btn-secondary" asp-page="../Role/Index">Roles</a>
    <table class="table">
        <tr>
            <th>Role name</th>
        </tr>
        @foreach (var role in Model.roles)
        {
            <tr>
                <td>@role.Name</td>
            </tr>
        }
    </table>
}