@model ASM.Models.Category;
<div class="row text-center">
    <div class="col">
        <table class="table-bordered bg-light">
            <tr>
                <th colspan="2" class="h3 text-primary">@Model.CategoryName</th>
            </tr>
            <tr>
                <th>Book</th>
                <td>
                    <a asp-controller="Book" asp-action="Info" asp-route-id="@Model.Books.Id">
                        @Model.Books.Title
                    </a>
                </td>
            </tr>
        </table>
    </div>
</div>