@model ASM.Models.Category
@if (!User.Identity.IsAuthenticated || User.IsInRole("Customer"))
{
    <h1>You do not have permission or login before accessing this page.</h1>
    <a asp-area="" asp-controller="Home" asp-action="Index">Back to home page</a>
}
else
{
    <form class="all-form" method="post" asp-controller="Category" asp-action="Edit">
        <h3 style="text-align: center">Edit A Category</h3>
        <div class="form-group">
            <label class="h6 text-success">Category Name</label>
            <input asp-for="CategoryName" class="form-control" />
            <span asp-validation-for="CategoryName" class="text-danger"></span>
        </div>
        <br />
        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
        <div>
            <a class="btn btn-warning" asp-action="Index">Cancel</a>
        </div>
    </form>
    @section Scripts {
    @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }
}