@model ASM.Models.Category

<div class="container text-center">
    <div class="row">
        <div class="col">
            <table class="table table-bordered">
                <tr>
                    <th colspan="2">Book List</th>
                    <th>TOTAL: @Model.Books.Count</th>
                </tr>
                <tr>
                    <th>Book Title</th>
                    <th>Author</th>
                    <th>Publication Date</th>
                </tr>
                @foreach (var book in Model.Books)
                {
                    <tr>
                        <td>@book.Title</td>
                        <td>@book.Author</td>
                        <td>@book.PublicationDate.ToShortDateString()</td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>