<style>
    .loginheader {
        transform: translateX(5%);
    }

    h1 {
        margin-bottom: 40px;
    }

    .login-form {
        width: 500px;
        border: 2px solid #ccc;
        padding: 30px;
        background: transparent;
        border-radius: 15px;
        margin-left: 250px;
    }

    .Login_input {
        display: block;
        border: 2px solid #ccc;
        width: 95%;
        padding: 10px;
        margin: 10px auto;
        border-radius: 5px;
    }

    label {
        color: black;
        font-size: 18px;
        padding: 10px;
    }
</style>
<br>
<br>
<section class="loginheader">
    <div class="text-box">
        <form class="login-form" asp-action="Signin" method="post">
            <br><br><br><br><br>
            <h2>Login Form</h2>
            <div class="container">
                <label><b>Username</b></label>
                <input class="Login_input" type="text" placeholder="Enter Username">

                <label><b>Password</b></label>
                <input class="Login_input" type="password" placeholder="Enter Password">

                <button type="submit" class="btn btn-success">Login</button>
                <label><input class="Login_input" type="checkbox" checked="checked"> Remember me</label>
                <br />
                <a type="button" class="btn btn-danger" asp-controller="Home" asp-action="Index">Cancel</a>
                <span class="password"><a href="#">Forgot password?</a></span>
                <a style="margin: 20px" type="button" class="btn btn-warning" asp-action="Register">Register</a>
            </div>
        </form>
    </div>
</section>
