<style>
    .loginheader {
        transform: translateX(5%);
    }

    h1 {
        margin-bottom: 40px;
    }

    .login-form {
        width: 500px;
        border: 2px solid #ccc;
        padding: 30px;
        background: transparent;
        border-radius: 15px;
        margin-left: 250px;
    }

    .register_input {
        display: block;
        border: 2px solid #ccc;
        width: 95%;
        padding: 10px;
        margin: 10px auto;
        border-radius: 5px;
    }

    label {
        color: black;
        font-size: 18px;
        padding: 10px;
    }
</style>
<br>
<br>
<section class="loginheader">
    <div class="text-box">
        <form class="login-form" asp-action="Register" method="post">
            <br><br><br><br><br>
            <h2>Registration Form</h2>
            <div class="container">
                <label><b>Name</b></label>
                <input class="register_input" type="text" placeholder="Enter name">

                <label><b>Email</b></label>
                <input class="register_input" type="Email" placeholder="Enter Email">

                <label><b>Phone Number</b></label>
                <input class="register_input" type="number" placeholder="Enter Phone">

                <label><b>Location</b></label>
                <input class="register_input" type="text" placeholder="Enter Location">

                <button type="submit" class="btn btn-success">Register</button>
            </div>

            <div class="container">
                <a type="button" class="btn btn-danger" asp-action="Index">Cancel</a>
            </div>
        </form>
    </div>
</section>
