@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}
@model ICollection<ASM.Models.Book>

<section class="jumbotron text-center">
    <div class="container">
        <h1> Welcome to GEC Pros's bookstore</h1>
        <p class="lead text-muted">
            Books are one's gate to their soul
        </p>
        <p>
            <a href="#" class="btn btn-primary my-2">Browse Books</a>
        </p>
    </div>
</section>

