@page "/admin/assignroles/{id}"
@model ASM.Areas.Admin.Pages.User.AddRoleModel
@if (!User.Identity.IsAuthenticated || !User.IsInRole("Administrator"))
{
    <h1>Bạn không có quyền hoặc hãy đăng nhập trước khi truy cập trang này.</h1>
    <a asp-area="" asp-controller="Home" asp-action="Index">Back to home page</a>
}
else
{
    ViewData["Title"] = "Assign roles";
    <h4>Assign role for user: @Model.user.UserName</h4>
    <partial name="_StatusMessage" for="StatusMessage" />
    <div class="row">
        <div class="col-md-6">
            <form method="post">
                <div class="form-group">
                    <lable asp-for="RolesName"></lable>
                    @Html.ListBoxFor(m=>m.RoleNames,@Model.allRoles,new {
                id="id-select-roles",
                @class="w-100"
                })
                    <span asp-validation-for="RoleNames" class="text-danger"></span>
                </div>
                <div>
                    <button type="submit" class="btn btn-primary">Update</button>
                </div>
                <div>
                    <a class="btn btn-secondary" asp-page="./Index">Back to User page</a>
                </div>
            </form>
        </div>
    </div>
}
