@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<style>
    .acc-header {
        transform: translateX(5%);
    }

    .acc-h1 {
        margin-bottom: 40px;
    }

    .acc-form {
        width: 500px;
        border: 2px solid #ccc;
        padding: 30px;
        background: transparent;
        border-radius: 15px;
        margin-left: 250px;
    }

    .acc-input {
        display: block;
        border: 2px solid #ccc;
        width: 95%;
        padding: 10px;
        margin: 10px auto;
        border-radius: 5px;
    }

    .acc-label {
        color: black;
        font-size: 18px;
        padding: 10px;
    }
</style>

<h1>@ViewData["Title"]</h1><br />
<section class="acc-header">
    <form class="acc-form" method="post">
        <hr />
        <h5>Enter your email.</h5>
        <div class="acc-container">
            <label class="h5 text-primary" asp-for="Input.Email"></label>
            <input asp-for="Input.Email" class="form-control" />
            <span asp-validation-for="Input.Email" class="text-danger"></span>
            <br />
        </div>
        <br />
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
