@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<style>
    .loginheader {
        transform: translateX(5%);
    }

    h1 {
        margin-bottom: 40px;
    }

    .login-form {
        width: 500px;
        border: 2px solid #ccc;
        padding: 30px;
        background: transparent;
        border-radius: 15px;
        margin-left: 250px;
    }

    .login_input {
        display: block;
        border: 2px solid #ccc;
        width: 95%;
        padding: 10px;
        margin: 10px auto;
        border-radius: 5px;
    }

    label {
        color: black;
        font-size: 18px;
        padding: 10px;
    }
</style>

<h1>@ViewData["Title"]</h1>
<section class="loginheader">
    <form class="login-form" id="account" method="post">
        <hr />
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="container">
            <label class="h5 text-primary" asp-for="Input.Email"></label>
            <input asp-for="Input.Email" class="form-control" />
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>
        <div class="container">
            <label class="h5 text-secondary" asp-for="Input.Password"></label>
            <input asp-for="Input.Password" class="form-control" />
            <span asp-validation-for="Input.Password" class="text-danger"></span>
        </div>
        <div class="">
            <div class="checkbox">
                <label asp-for="Input.RememberMe">
                    <input asp-for="Input.RememberMe" />
                    @Html.DisplayNameFor(m => m.Input.RememberMe)
                </label>
            </div>
        </div>
        <div class="">
            <button type="submit" class="btn btn-primary">Log in</button>
        </div>
        <div class="">
            <p>
                <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
            </p>
            <p>
                <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
            </p>
        </div>
    </form>
</section>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
