@model ASM.Models.Book;
<form method="post" asp-controller="Book" asp-action="Create">
    <h2>Add a new book</h2>
    <div class="form-group">
        <label class="h4 text-success">International Standard Book Number</label>
        <input class="form-control" asp-for="ISBN" />
        <span class="text-danger" asp-validation-for="ISBN"></span>
    </div>
    <div class="form-group">
        <label class="h4 text-success">Book Title</label>
        <input class="form-control" asp-for="Title" />
        <span class="text-danger" asp-validation-for="Title"></span>
    </div>
    <div class="form-group">
        <label class="h4 text-success" asp-for="PublicationDate"></label>
        <input class="form-control" asp-for="PublicationDate" />
        <span class="text-danger" asp-validation-for="PublicationDate"></span>
    </div>
    <div class="form-group">
        <label class="h4 text-success">Book Publisher</label>
        <input class="form-control" asp-for="Publisher" />
        <span class="text-danger" asp-validation-for="Publisher"></span>
    </div>
    <div class="form-group">
        <label class="h4 text-success">Category</label>
        
    </div>
    <div class="form-group">
        <label class="h4 text-success">Book Author</label>
        <input class="form-control" asp-for="Author" />
        <span class="text-danger" asp-validation-for="Author"></span>
    </div>
    <div class="form-group">
        <label class="h4 text-success">Book Image</label>
        <input class="form-control" asp-for="Image" />
        <span class="text-danger" asp-validation-for="Image"></span>
    </div>
    <div class="form-group">
        <input class="btn btn-primary" type="submit" value="Create" />
    </div>
</form>